src/main/resources/wsdl/products.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:import namespace="http://microsoft.com/wsdl/types/"/>
            <s:element name="GetProduct">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetProductResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetProductResult" type="tns:Product"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="Product">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="ProductNumber" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="MakeFlag" nillable="true" type="s:boolean"/>
                    <s:element minOccurs="1" maxOccurs="1" name="FinishedGoodsFlag" nillable="true" type="s:boolean"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Color" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="SafetyStockLevel" nillable="true" type="s:short"/>
                    <s:element minOccurs="1" maxOccurs="1" name="ReorderPoint" nillable="true" type="s:short"/>
                    <s:element minOccurs="1" maxOccurs="1" name="StandardCost" nillable="true" type="s:decimal"/>
                    <s:element minOccurs="1" maxOccurs="1" name="ListPrice" nillable="true" type="s:decimal"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Size" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="SizeUnitMeasureCode" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="WeightUnitMeasureCode" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="Weight" nillable="true" type="s:decimal"/>
                    <s:element minOccurs="1" maxOccurs="1" name="DaysToManufacture" nillable="true" type="s:int"/>
                    <s:element minOccurs="0" maxOccurs="1" name="ProductLine" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Class" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Style" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="ProductSubcategoryID" nillable="true" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="ProductModelID" nillable="true" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="SellStartDate" nillable="true" type="s:dateTime"/>
                    <s:element minOccurs="1" maxOccurs="1" name="SellEndDate" nillable="true" type="s:dateTime"/>
                    <s:element minOccurs="1" maxOccurs="1" name="DiscontinuedDate" nillable="true" type="s:dateTime"/>
                    <s:element minOccurs="1" maxOccurs="1" name="rowguid" nillable="true" type="s1:guid"/>
                    <s:element minOccurs="1" maxOccurs="1" name="ModifiedDate" nillable="true" type="s:dateTime"/>
                </s:sequence>
            </s:complexType>
            <s:element name="AddProduct">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="ListPrice" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ProductNumber" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddProductResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="AddProductResult" type="tns:ResponseResult"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ResponseResult">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int"/>
                    <s:element minOccurs="0" maxOccurs="1" name="ResultMessage" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:boolean"/>
                </s:sequence>
            </s:complexType>
            <s:element name="UpdateProduct">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="ListPrice" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ProductNumber" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UpdateProductResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="UpdateProductResult" type="tns:ResponseResult"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="DeleteProduct">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="DeleteProductResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="DeleteProductResult" type="tns:ResponseResult"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
        <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
            <s:simpleType name="guid">
                <s:restriction base="s:string">
                    <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
                </s:restriction>
            </s:simpleType>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="GetProductSoapIn">
        <wsdl:part name="parameters" element="tns:GetProduct"/>
    </wsdl:message>
    <wsdl:message name="GetProductSoapOut">
        <wsdl:part name="parameters" element="tns:GetProductResponse"/>
    </wsdl:message>
    <wsdl:message name="AddProductSoapIn">
        <wsdl:part name="parameters" element="tns:AddProduct"/>
    </wsdl:message>
    <wsdl:message name="AddProductSoapOut">
        <wsdl:part name="parameters" element="tns:AddProductResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateProductSoapIn">
        <wsdl:part name="parameters" element="tns:UpdateProduct"/>
    </wsdl:message>
    <wsdl:message name="UpdateProductSoapOut">
        <wsdl:part name="parameters" element="tns:UpdateProductResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteProductSoapIn">
        <wsdl:part name="parameters" element="tns:DeleteProduct"/>
    </wsdl:message>
    <wsdl:message name="DeleteProductSoapOut">
        <wsdl:part name="parameters" element="tns:DeleteProductResponse"/>
    </wsdl:message>
    <wsdl:portType name="SoapApiSoap">
        <wsdl:operation name="GetProduct">
            <wsdl:input message="tns:GetProductSoapIn"/>
            <wsdl:output message="tns:GetProductSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="AddProduct">
            <wsdl:input message="tns:AddProductSoapIn"/>
            <wsdl:output message="tns:AddProductSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateProduct">
            <wsdl:input message="tns:UpdateProductSoapIn"/>
            <wsdl:output message="tns:UpdateProductSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteProduct">
            <wsdl:input message="tns:DeleteProductSoapIn"/>
            <wsdl:output message="tns:DeleteProductSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SoapApiSoap" type="tns:SoapApiSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetProduct">
            <soap:operation soapAction="http://tempuri.org/GetProduct" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddProduct">
            <soap:operation soapAction="http://tempuri.org/AddProduct" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateProduct">
            <soap:operation soapAction="http://tempuri.org/UpdateProduct" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteProduct">
            <soap:operation soapAction="http://tempuri.org/DeleteProduct" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SoapApiSoap12" type="tns:SoapApiSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetProduct">
            <soap12:operation soapAction="http://tempuri.org/GetProduct" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddProduct">
            <soap12:operation soapAction="http://tempuri.org/AddProduct" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateProduct">
            <soap12:operation soapAction="http://tempuri.org/UpdateProduct" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteProduct">
            <soap12:operation soapAction="http://tempuri.org/DeleteProduct" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SoapApi">
        <wsdl:port name="SoapApiSoap" binding="tns:SoapApiSoap">
            <soap:address location="http://soapapi.webservicespros.com/soapapi.asmx"/>
        </wsdl:port>
        <wsdl:port name="SoapApiSoap12" binding="tns:SoapApiSoap12">
            <soap12:address location="http://soapapi.webservicespros.com/soapapi.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>